{
    "header": {
        "name": "cpu_temp",
        "version": "1.0"
    },
    "apiSpec": [
        {
            "specRef": "https://bluehorizon.network/documentation/cpu_temp-device-api/",
            "version": "0.0.0",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "2PartyDataUse"
        }
    ],
    "workloads": [
        {
            "matchgroups": [
                [
                    {
                        "attr": "cpu_temp",
                        "value": "true"
                    }
                ],
                [
                    {
                        "attr": "arch",
                        "value": "arm"
                    }
                ],
                [
                    {
                        "attr": "ethereum_account",
                        "value": "1a2b3c"
                    },
                    {
                        "attr": "ethereum_account",
                        "value": "4d5e6f"
                    }
                ]
            ],
            "deployment": "{\"services\":{\"hznquarks\":{\"image\":\"summit.hovitos.engineering/armhf/hznquarks:0.1.1\",\"ports\":[{\"localhost_only\":false,\"port_and_protocol\":\"8080/tcp\"}],\"network_isolation\":{\"outbound_permit_only_ignore\":\"ETH_ACCT_SPECIFIED\",\"outbound_permit_only\":[{\"dd_key\":\"deployment_user_info\",\"encoding\":\"JSON\",\"path\":\"cloudMsgBrokerHost\"}]}},\"culex\":{\"image\":\"summit.hovitos.engineering/armhf/culex:volcano\",\"environment\":[\"MTN_MQTT_TOKEN=ZZbrT4ON5rYzoBi7H1VK3Ak9n0Fwjcod\"]},\"gps\":{\"image\":\"summit.hovitos.engineering/armhf/gps:v1.1\",\"privileged\":true,\"environment\":[\"MTN_MQTT_TOKEN=ZZbrT4ON5rYzoBi7H1VK3Ak9n0Fwjcod\",\"SLEEP_INTERVAL=20\"],\"devices\":[\"/dev/bus/usb/001/001:/dev/bus/usb/001/001\"]},\"location\":{\"image\":\"summit.hovitos.engineering/armhf/location:v1.1\",\"environment\":[\"DEPL_ENV=staging\"]}}}",
            "deployment_signature": "QRpmOM2wtftdlyASWqtaMd2ZamblSrljYVR13Bh47Gm7udDJM0mhmNNj+jnjctDMBgKeiR6C83kIahqj2uVa5KG109DxrT0Cd9DavxFMQg5giZ96uW1o9iJmTKXMHxbzX3MVrHHH75MdwF4zAszT4vSVkJV1JuvWbXdsK9ffNpVKfqr+eZnaTRzVkQOafsapNL0WAPR23CnWlsx4yPfJ+IRNh3GCFJTTglS/lRylkQmeyJlnagwgbzTD4RJZ97j9/zP6nDAA/ChHpT3en3HY2b490by5ObUbE3wE2NNoJC7S0g58r/PQBz6EczEO+izOFdNbUI7dF/pVc8ect3npvPuK9anVvLBi3eqevh8qzBTzKoyuX+z6rUTCVwQrA8QTLqRKtHnC94txuFhs7U/6SjImrhgAoE5BErOdocgYJQ6pKguKrq53zyHQOTd4FOb6+OETYnvutCaUmh/h885zelxgrltDDLRFBqvElJNzCUEuq4H/o/gYoZrRpV1S0rj7b80ZSgsnkB+6jhsUhwuZ+sly66c+cDe5AJveNZ1rbPfCdKIMn/jPYtKxB6P47Q47l0jiM+UWtDLLKul7xT9jZqKhgE8nKlJ7dAV2JZYaocguylfIjrm02NFy40nACCVGJDZccNfMA907qN6jhCYPi9COHOayvViPqeRjf5XBxyo=",
            "deployment_user_info": "{\"cloudMsgBrokerHost\":\"\",\"dataVerificationInterval\":0}",
            "torrent": {
                "url": "https://images.bluehorizon.network/a3b7aa62178a44cd5cb840708f3adcc596110a51.torrent",
                "images": [
                    {
                        "file": "a7772d30e8f1b9a6f03746deed91de0ce574af37.tar.gz",
                        "signature": "IoLJeP3s3j46S0VQPG9MortdaqHkWKRkQoOPe7bAELi5XYbM3ISCvTh0xdXKkmDKBTFzdyHaSZmqO6+miHeA1Dyoszkh9uVEnK0QEzgvOxqbm03iCT508ei1gkH4807GPuAEnK+6D2WZeRhmRL8S2bTFam/9FRTpbckRzjcjUn/160uFtVywLu2BRanuh6rAWk16Z1vr/M78JF9VBaj+Y4+qyYP5DdYlGmRMAHC6sBbXZ14e4N4rbDD1NWVuJuL+O2+bqnsK5IE4kr17PNUS0XLeSHIbbhjO8C/rVILSLjHcDG3BAkLDB0Xboep3g6B9vs0BJ/OsnKHC/jmVj9LilPIx1c/YNF4X9ZKvK/J5qKA601CUAlzPJZVtCW2KlPbnYS7jTIA4GI+XPNoNJ4oYJvNa/Hto0Y6stb67Ge8WcjC2Gg39VeBdgPzh6691jimQygP6VQQFF8HkvUjwOeL1zBOX9CNCwLEnlWyAAuS7LOVBjlzwcnDyEfrB3CtDTRlBEmMaCsfO/zdKoATMx2oUmXXcuvuIj3xj2muk3DH2f21FdKF1dOeQ0F1DSO6hrCxnWa7/9SLBw+cVrHbtEE/WmZbQzYMVfQBWuF1Yqq8pC/4cJrFoUrTuYiF04ZrvcxExXiPIQCw45WqyRjlHsuxi7cDSTZsMaE0annMYJ3OGtHA="
                    },
                    {
                        "file": "ec29cdf7dc606e4225d7b5bc8d192e29112b855b.tar.gz",
                        "signature": "syoKwilsDmzHDgJtbPvu08lLKpFwWJEi9HqZ+eq68EDS3FTpIUanthNEWOlJteh3UOT7LiI7d72JwsKL1fRmVM8LfxIFW7mfLsZiX02L527WNAsKBmA22bDGt9AMxJGEMrbw9wt2FW78wuQlMjZE+Z7aNmCY8YXQR83rMxXsemJOaVUygRfkk0p+R7gT0XcYhJlU/wWtvyu0gUX3wDd7evXY4pLhctKiozB1Bg7MaTMqScqzCno6nkzrqjVzhj17rmPwpWtZpAM6bdEAGyt85Efk9yIs5zuzs2gAIGIaeqRTUJc2Es5eGSMFYf1p966CcQw48O9G95mHHwNKGvEsSzu2PG9KULnGNw2xeXIj0ZY4yOzIMMOos8fxlDL8qfvo3avMeqf3GNRbgzLGnjG5e9k7/ssPN43VCaKMyqoYDCzx8qNudt7+ExjzKrMC0n2/N1Kb4sSoKpnolt5mr9V/N5VxBdn8MXAmrPrl+HILfzHRS45SYqh4G2M6t1oXXJswyEIaV4qhbTXhJeiYG7bqPhwMJsuYgyKSnL05zCMfHpLOmTHrPUMMw8uJVjfzzlH+0lYmOJvgGdf1/9UhCT7K9PBenmVv/5Wvusu5dIrqCsw9EHbpqNytkUKjrlbqNH+5j5bP4V/XzcndnNtnzOVdPRQ9PHMDbis8g20xD9pQVbk="
                    },
                    {
                        "file": "f01a982d19a2778564a97605dd0246cc443759c9.tar.gz",
                        "signature": "JAyccitqFyqyrdnxM4ID/P6FfU6kyLy+BeWPQu2J7KrhuKxyV4P6O5qT1vpnQGX5NyaPRSRmNfh0P5EQzDSmO2U+iO8CdUJidzmwunFzLMFjuJuBqmcgc0I/0rdI88EOi+h8Xz749IO+xGvprzZXJD3SYxyonXzYd02Ff75ATVs9mKFeSbPQJaN0fHvd0+FizXhJxO3LTmHNMHQzPX2RtZluE39xwpo7B5MdN99dwmEW55+u+IaqPKe57LFoO0T7ujuNr+sVuYpc7r7w58VDT2BpWMoeDJRW5HWshlUw7HW2eyjsKoSPuBOeqtLoWJ91GWd9Wahxwz/hBWgxmli2vasQyAh86AaAa7RgrYUaWdVzJ1EP+hLCXzlmtDfVPz35ABRf9lZPdwYmMYmi8O+EU8zJGvHTY3VzVzzPmZ0lkqankBTjVrUo0KHyE1NbiR4KlB+WCQ3cu91a3H1GsSW29yhnSvz4e/zNOpHeI8JIh6Tww69KOE9R3I6NPjx3aOBbOITOGBvyI43DiHioXtbyVj1WA3HZLHnhpyTKwZCmaLVC1KoyzwX1X6/dfx2S1UEIovjtZ55fq+6vb6hBRKJOEzYdLZelN3wv41gJLdA9Qo3w3A4w9ar0k+k4aetS0DfSBJLpB/JRygMH90YOdbgfXdYh29/QqesiHoInDF6gRxs="
                    },
                    {
                        "file": "f2d9a8b423229220495ad2ebd6e27e8373e36f82.tar.gz",
                        "signature": "n0f271vd/+EcKKFM5i9NYip9WsS5ond422m3/CL+UyRCr4+d/3B8RnIShyWt0Cd+ZcKu6MXt5eirpkdlkri7Q3HNEPF4CZWJKTipAaSe0PJR7wOv1q4P8CQdQk7L1ZCb9ImnEgsppjA/3FZhaqTATCnmnv+7eSb2Kdl8YWnEDQcQiQsW/voc2vyD994hnBagG9yme/i7uyaULHQjJ9rTVVNygddh5Zu4NzAfPmxxNSBU61CbyTvS8gUzZAT3fXIOSieoL/EMPgn3go3wlm1+4epVTsgJ1AO26Q5rJ0K/BwrTcmn8Y4IiGNynrp1zyBv5psRLu1WlZbMH7sKXPJg/Q+AckcsygJgUOKtrewgBGXEUTv9tooNAhnvBbnEsftm2gdr7GINWpBLoWMtDPhvmCoDfjcEDuwIHFrawtRVmk/uvQYtI1tQ9FyGe1QUAGo9lQLOUl5y1E5YO+BLOQZRnd3SYb3tJcYFr046h0YR0QKBFBHHXOZwopHMW77maYV2tQbPTOa7iLumUzjT2blh8wzyk+eS9BYjFbdWyu2ZkA7UzI3mDNjIy1DvSr/ERSyqzM7puB7vUvNkjmyGfG0LJ3UKvABEzDUwA3v7GMkvJuVlF5X8krOe5VsSPp8JJFz06QkpELIZbgE2XzCOuud69l5ygBzLXQpDtmI2/EeNvzPk="
                    }
                ]
            }
        }
    ],
    "deviceType": "",
    "valueExchange": {
        "type": "",
        "value": "",
        "paymentRate": 0
    },
    "resourceLimits": {
        "networkUpload": 0,
        "networkDownload": 0,
        "memory": 0,
        "cpus": 0
    },
    "dataVerification": {
        "enabled": false,
        "URL": "",
        "interval": 0
    },
    "proposalRejection": {
        "number": 0,
        "duration": 0
    }
}