{
    "header": {
        "name": "device policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "organization": "otherorg",
            "version": "1.0.1",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "Basic"
        }
    ],
    "properties": [
        {"name":"rpiprop1", "value":"rpival1"},
        {"name":"rpiprop2", "value":"rpival2"},
        {"name":"rpiprop3", "value":"rpival3"}
    ],
    "constraints": [
        "conprop1 == conval1 AND conprop2 == conval2"
    ],
    "blockchains": [],
    "requiredWorkload": "http://mycompany.com/workload"
}