{
    "header": {
        "name": "device policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "organization": "otherorg",
            "version": "1.0.1",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "Basic"
        }
    ],
    "resourceLimits": {
        "networkUpload": 1024,
        "networkDownload": 1024,
        "memory": 2048,
        "cpus": 2
    },
    "properties": [
        {"name":"rpiprop1", "value":"rpival1"},
        {"name":"rpiprop2", "value":"rpival2"},
        {"name":"rpiprop3", "value":"rpival3"}
    ],
    "counterPartyProperties": {
        "and":[
            {"name":"conprop1", "value":"conval1"},
            {"name":"conprop2", "value":"conval2"}
        ]
    },
    "blockchains": [],
    "requiredWorkload": "http://mycompany.com/workload"
}