anax
main
one-off
vendor/*/
agreementbot/build/docker-bld
agreementbot/build/docker-exec
agreementbot/build/docker/fs/root/.ssh/id*
anax/doc/*.png
**/*.apib
/cli/hzn
/cli/man1
/cli/bash_completion
/.idea
/test/docker/tempfs
/test/docker/fs/hzn/helloms/server
