{
    "header": {
        "name": "find policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/policy",
            "version": "[1.0.0,2.0.0)",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "2PartyDataUse"
        }
    ],
    "workloads": [],
    "properties": [
        {"name":"ethereum_account", "value":"0x1234567890abcdef1234567890abcdef12345678"}
    ],
    "deviceType": "12345-54321-abcdef-fedcba",
    "valueExchange": {
        "type": "bacon",
        "value": "100",
        "paymentRate": 300
    },
    "dataVerification": {
        "enabled": true,
        "URL": "http://data.receipt.system.com",
        "interval": 300
    },
    "proposalRejection": {
        "number": 5,
        "duration": 86400
    }
}