{
  "AgreementBot": {
    "DBPath": "${SNAP_COMMON}/agbot/",
    "GethURL": "http://127.0.0.1:8545",
    "TxLostDelayTolerationSeconds": 240,
    "AgreementWorkers": 5,
    "AgreementTimeoutS": 180,
    "NoDataIntervalS": 900,
    "ActiveAgreementsURL": "${CMTN_DATA_VERIFICATION_URL}",
    "PolicyPath": "${SNAP_COMMON}/agbot/policy.d/",
    "NewContractIntervalS": 15,
    "ProcessGovernanceIntervalS": 10,
    "IgnoreContractWithAttribs": "ethereum_account",
    "ExchangeURL": "${CMTN_EXCHANGE_URL}",
    "ExchangeId": "",
    "ExchangeToken":"",
    "ExchangeHeartbeat": 60,
    "ActiveDeviceTimeoutS": 180
  }
}