{
    "header": {
        "name": "test policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/policy",
            "version": "[1.0.0,2.0.0)",
            "exclusiveAccess": false,
            "arch": ""
        }
    ],
    "agreementProtocols": [
        {
            "name": "2PartyDataUse"
        }
    ],
    "workloads": [
        {
            "deployment": "Deployment instructions",
            "deployment_signature": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
            "deployment_user_info": "",
            "torrent": {
                "url": "torrent://the.system.com",
                "images": [
                    {
                        "file": "a_file.tar.gz",
                        "signature": "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    }
                ]
            },
            "workload_password": "",
            "priority": {
                "priority_value": 0,
                "retries": 0,
                "retry_durations": 0
            }
        }
    ],
    "deviceType": "12345-54321-abcdef-fedcba",
    "valueExchange": {
        "type": "bacon",
        "value": "100",
        "paymentRate": 300,
        "token": ""
    },
    "resourceLimits": {
        "networkUpload": 1024,
        "networkDownload": 1024,
        "memory": 2048,
        "cpus": 2
    },
    "dataVerification": {
        "enabled": true,
        "URL": "http://data.receipt.system.com",
        "URLUser": "",
        "URLPassword": "",
        "interval": 300,
        "check_rate": 0,
        "metering": {
            "tokens": 0,
            "per_time_unit": "",
            "notification_interval": 0
        }
    },
    "proposalRejection": {
        "number": 5,
        "duration": 86400
    },
    "ha_group": {
        "partners": null
    }
}