{
    "header": {
        "name": "device policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "organization": "myorg",
            "version": "1.0.1",
            "exclusiveAccess": true,
            "arch": "amd64"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Citizen Scientist"
        }
    ],
    "properties": [
        {"name":"rpiprop1", "value":"rpival1"},
        {"name":"rpiprop2", "value":"rpival2"},
        {"name":"rpiprop3", "value":"rpival3"}
    ],
    "counterPartyProperties": {
        "and":[
            {"name":"conprop1", "value":"conval1"},
            {"name":"conprop2", "value":"conval2"}
        ]
    },
    "blockchains": [
        {
            "type":"ethereum",
            "details": {
                "genesis":["http://bhnetwork.com/genesis"],
                "bootnodes":["http://bhnetwork.com/bootnodes"],
                "directory":["http://bhnetwork.com/directory"],
                "networkid":["http://bhnetwork.com/networkid"]
            }
        }
    ],
    "requiredWorkload": "http://mycompany.com/workload1"
}