{
    "header": {
        "name": "device policy merged with agbot policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "organization": "myorg",
            "version": "[1.0.0,2)",
            "exclusiveAccess": true,
            "arch": "amd64"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Citizen Scientist",
            "protocolVersion": 1
        }
    ],
    "workloads": [
        {
            "deployment": "Deployment instructions",
            "deployment_signature": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
            "priority": {}
        }
    ],
    "valueExchange": {},
    "dataVerification": {
        "enabled": true,
        "URL": "http://data.receipt.system.com",
        "interval": 300,
        "metering": {}
    },
    "proposalRejection": {},
    "properties": [
        {
            "name": "conprop1",
            "value": "conval1"
        },
        {
            "name": "conprop2",
            "value": "conval2"
        },
        {
            "name": "conprop3",
            "value": "conval3"
        }
    ],
    "constraints": [
        "rpiprop1 == rpival1 OR rpiprop2 == rpival2"
    ],
    "requiredWorkload": "http://mycompany.com/workload1",
    "nodeHealth": {}
}