{
    "header": {
        "name": "test creation",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "arm"
        },
        {
            "specRef": "http://mycompany.com/dm/gps",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "arm"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Citizen Scientist",
            "blockchains": [
                {
                    "type": "ethereum",
                    "name": "bc1"
                }
            ]
        },
        {
            "name": "2Party Bitcoin",
            "blockchains": [
                {
                    "type": "ethereum",
                    "name": "bc2"
                }
            ]
        }
    ],
    "valueExchange": {
        "type": "",
        "value": "",
        "paymentRate": 0,
        "token": ""
    },
    "resourceLimits": {
        "networkUpload": 0,
        "networkDownload": 0,
        "memory": 0,
        "cpus": 0
    },
    "dataVerification": {
        "enabled": false,
        "URL": "",
        "URLUser": "",
        "URLPassword": "",
        "interval": 0,
        "check_rate": 0,
        "metering": {
            "tokens": 0,
            "per_time_unit": "",
            "notification_interval": 0
        }
    },
    "proposalRejection": {
        "number": 0,
        "duration": 0
    },
    "properties": [
        {
            "name": "rpiprop1",
            "value": "rpival1"
        },
        {
            "name": "rpiprop2",
            "value": "rpival2"
        },
        {
            "name": "rpiprop3",
            "value": "rpival3"
        },
        {
            "name": "rpiprop4",
            "value": "rpival4"
        },
        {
            "name": "rpiprop5",
            "value": "rpival5"
        }
    ],
    "ha_group": {
        "partners": null
    }
}