{
    "header": {
        "name": "test creation",
        "version": "2.0"
    },
    "useServices": false,
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "organization": "myorg",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "arm"
        },
        {
            "specRef": "http://mycompany.com/dm/gps",
            "organization": "myorg",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "arm"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Fred",
            "protocolVersion": 1,
            "blockchains": [
                {
                    "type": "Fred",
                    "name": "bc1",
                    "organization": "myorg"
                }
            ]
        },
        {
            "name": "2Party Bitcoin",
            "protocolVersion": 1,
            "blockchains": [
                {
                    "type": "Fred",
                    "name": "bc2",
                    "organization": "myorg"
                }
            ]
        }
    ],
    "valueExchange": {},
    "resourceLimits": {},
    "dataVerification": {
        "metering": {}
    },
    "proposalRejection": {},
    "properties": [
        {
            "name": "rpiprop1",
            "value": "rpival1"
        },
        {
            "name": "rpiprop2",
            "value": "rpival2"
        },
        {
            "name": "rpiprop3",
            "value": "rpival3"
        },
        {
            "name": "rpiprop4",
            "value": "rpival4"
        },
        {
            "name": "rpiprop5",
            "value": "rpival5"
        }
    ],
    "ha_group": {},
    "nodeHealth": {
        "missing_heartbeat_interval": 600,
        "check_agreement_status": 30
    }
}