{
    "header": {
        "name": "ms2 policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/ms2",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "amd64"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Basic",
            "protocolVersion": 1
        }
    ],
    "dataVerification": {
        "enabled": true,
        "URL": "",
        "interval": 0,
        "metering": {
            "tokens": 1,
            "per_time_unit": "min",
            "notification_interval": 120
        }
    },
    "properties": [
        {"name":"rpiprop1", "value":"rpival1"},
        {"name":"rpiprop2", "value":"rpival2"}
    ],
    "counterPartyProperties": {
        "and":[
            {"name":"conprop1", "value":"conval1", "op":"="}
        ]
    },
    "ha_group": {
        "partners": null
    },
    "maxAgreements": 1
}