{
    "header": {
        "name": "ms1 policy merged with ms2 policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/ms1",
            "organization": "myorg",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "amd64"
        },
        {
            "specRef": "http://mycompany.com/dm/ms2",
            "organization": "myorg2",
            "version": "1.0.0",
            "exclusiveAccess": true,
            "arch": "amd64"
        }
    ],
    "agreementProtocols": [
        {
            "name": "Basic",
            "protocolVersion": 1
        }
    ],
    "valueExchange": {},
    "resourceLimits": {},
    "dataVerification": {
        "enabled": true,
        "interval": 600,
        "metering": {
            "tokens": 60,
            "per_time_unit": "hour",
            "notification_interval": 120
        }
    },
    "proposalRejection": {},
    "maxAgreements": 1,
    "properties": [
        {
            "name": "rpiprop1",
            "value": "rpival1"
        },
        {
            "name": "rpiprop2",
            "value": "rpival2"
        },
        {
            "name": "rpiprop3",
            "value": "rpival3"
        }
    ],
    "counterPartyProperties": {
        "and": [
            {
                "and": [
                    {
                        "name": "conprop1",
                        "op": "=",
                        "value": "conval1"
                    },
                    {
                        "name": "conprop2",
                        "op": "=",
                        "value": "conval2"
                    }
                ]
            },
            {
                "and": [
                    {
                        "name": "conprop1",
                        "op": "=",
                        "value": "conval1"
                    }
                ]
            }
        ]
    },
    "ha_group": {},
    "nodeHealth": {}
}