{
    "api": {
        "db": {
            "memoryDb": false,
            "jdbcUrl": "${e2edev_exchange_db_url}",        // the back-end db the exchange uses
            "user": "${e2edev_exchange_db_user}",
            "password": "${e2edev_exchange_db_pw}"
        },
        "smtp": {
            "host": "smtp.gmail.com",     // the SMTP relay svr the exchange uses to send reset pw emails
            "user": "devops@sense.net",    // was "bluehorizon.network@gmail.com"
            "password": "jh2kbdQ2fLExaUk5Gfj9"    // was "Theedgeiswhereitsat"
        },
        "logging": {
            "level": "DEBUG"
        },
        "root": {
            "password": "$2a$10$Mh5kobwYwN2WE3LcKkpqzeBzV8phhuzZ/xHD2QRwt1uIswAWNpm7K",     // "Horizon-Rul3s",
            "email": ""
        }
    }
}
