[Unit]
Description=Service for Horizon control system
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
Environment=ANAX_LOG_LEVEL=3
EnvironmentFile=/etc/default/horizon
ExecStart=/usr/horizon/bin/anax -v $ANAX_LOG_LEVEL -logtostderr -config /etc/horizon/anax.json
Restart=always
TimeoutStopSec=30
Type=simple

[Install]
WantedBy=multi-user.target
