{
    "header": {
        "name": "device policy",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/dm/cpu_temp",
            "version": "[1.0.0,2.0.0)",
            "exclusiveAccess": false
        },
        {
            "specRef": "http://mycompany.com/dm/gps",
            "version": "[1.0.0,2.0.0)",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "Citizen Scientist"
        }
    ],
    "workloads": null,
    "deviceType": "12345-54321-abcdef-fedcba",
    "valueExchange": null,
    "dataVerification": null,
    "proposalRejection": null,
    "maxAgreements": 0,
    "properties": [
        {"name":"rpiprop1", "value":"rpival1"},
        {"name":"rpiprop2", "value":"rpival2"},
        {"name":"rpiprop3", "value":"rpival3"}
    ],
    "constraints": [
        "conprop1 == conval1 AND conprop2 == conval2"
    ],
    "blockchains": [
        {
            "type":"ethereum",
            "details": {
                "genesis":["http://bhnetwork.com/genesis"],
                "bootnodes":["http://bhnetwork.com/bootnodes"],
                "directory":["http://bhnetwork.com/directory"]
            }
        }
    ],
    "requiredWorkload": null
}