HZN_EXCHANGE_URL=<PRIMARY_EXCHANGE_URL>
HZN_FSS_CSSURL=<PRIMARY_FSS_CSSURL>
HZN_ORG_ID=<PRIMARY_ORG>
HZN_EXCHANGE_USER_AUTH=<PRIMARY_EXCHANGE_USER_AUTH>
HZN_EXCHANGE_PATTERN=IBM/pattern-ibm.helloworld
