{
    "Edge": {
        "ServiceStorage": "/tmp/service_storage",
        "TorrentDir": "/torrent",
        "TorrentListenAddr": ":50009",
        "APIListen": "0.0.0.0:82",
        "DBPath": "/root/.colonus2",
        "DockerEndpoint": "unix:///var/run/docker.sock",
        "StaticWebContent": "/root/.colonus/static",
        "CACertsPath": "/root/.colonus/horizon.pem",
        "TrustSystemCACerts": true,
        "PublicKeyPath": "/root/.colonus/mtn-publicKey.pem",
        "DefaultServiceRegistrationRAM": 1024,
        "ExchangeURL": "http://${EXCH_APP_HOST}:8080/v1/",
        "PolicyPath": "/root/.colonus2/policy.d/",
        "ExchangeHeartbeat": 60,
        "ExchangeVersionCheckIntervalM": 1,
        "AgreementTimeoutS": 600,
        "ExchangeMessageTTL": 120,
        "ReportDeviceStatus": true,
        "TrustCertUpdatesFromOrg": true,
        "TrustDockerAuthFromOrg": true,
        "ServiceUpgradeCheckIntervalS": 60,
        "UserPublicKeyPath": "/root/.colonus/"
    }
}
