{
    "Edge": {
        "ServiceStorage": "/tmp/service_storage",
         "APIListen": "0.0.0.0:82",
        "DBPath": "/root/.colonus2",
        "DockerEndpoint": "unix:///var/run/docker.sock",
        "StaticWebContent": "/root/.colonus/static",
        "CACertsPath": "/root/.colonus/horizon.pem",
        "TrustSystemCACerts": true,
        "PublicKeyPath": "/root/.colonus/mtn-publicKey.pem",
        "DefaultServiceRegistrationRAM": 1024,
        "ExchangeURL": "${EXCH_APP_HOST}/",
        "PolicyPath": "/root/.colonus2/policy.d/",
        "ExchangeHeartbeat": 60,
        "ExchangeVersionCheckIntervalM": 1,
        "AgreementTimeoutS": 600,
        "ExchangeMessageTTL": 120,
        "ExchangeMessagePollInterval": 10,
        "ExchangeMessagePollMaxInterval": 60,
        "ExchangeMessagePollIncrement":10,
        "ReportDeviceStatus": true,
        "TrustCertUpdatesFromOrg": true,
        "TrustDockerAuthFromOrg": true,
        "ServiceUpgradeCheckIntervalS": 60,
        "UserPublicKeyPath": "/root/.colonus/",
        "DefaultServiceRetryCount": 1,
        "DefaultServiceRetryDuration": 600,
        "SurfaceErrorAgreementPersistentS": 10,
        "FileSyncService": {
            "PersistencePath": "/tmp/ess-store2/",
            "AuthenticationPath": "/tmp/ess-auth2/",
            "CSSURL": "${CSS_URL}/",
            "PollingRate": 10
        }
    },
    "ArchSynonyms": {
        "x86_64": "amd64",
        "armhf": "arm",
        "aarch64": "arm64"
    }
}
