{
  "properties": [
    {
      "name": "iame2edev",
      "value": true
    }
  ],
  "constraints": [
    ""
  ],
  "services": [
    {
      "orgID": "e2edev@somecomp.com",
      "arch": "amd64",
      "serviceName": "bluehorizon.network-services-netspeed",
      "version": "2.3.0"
    }
  ]
}