{
    "AgreementBot": {
        "DBPath": "",
        "Postgresql": {
            "Host": "exchange-db",
            "Port": "5432",
            "User": "admin",
            "Password": "",
            "DBName": "exchange",
            "SSLMode": "disable"
        },
        "Partitions": "part2",
        "TxLostDelayTolerationSeconds": 120,
        "AgreementWorkers": 5,
        "ProtocolTimeoutS": 120,
        "AgreementTimeoutS": 300,
        "NoDataIntervalS": 300,
        "ActiveAgreementsURL": "",
        "ActiveAgreementsUser": "",
        "ActiveAgreementsPW": "",
        "PolicyPath": "/home/agbotuser/policy2.d/",
        "NewContractIntervalS": 10,
        "ProcessGovernanceIntervalS": 10,
        "IgnoreContractWithAttribs": "ethereum_account",
        "ExchangeURL": "${EXCH_APP_HOST}/",
        "ExchangeId": "IBM/ag12345",
        "ExchangeToken":"abcdefg",
        "ExchangeHeartbeat": 10,
        "ActiveDeviceTimeoutS": 180,
        "MessageKeyPath": ".colonus",
        "APIListen": "0.0.0.0:8084",
        "SecureAPIListenHost": "0.0.0.0",
        "SecureAPIListenPort": "8085",
        "SecureAPIServerCert": "/home/agbotuser/keys/agbotapi.crt",
        "SecureAPIServerKey": "/home/agbotuser/keys/agbotapi.key",
        "PurgeArchivedAgreementHours": 1,
        "CheckUpdatedPolicyS": 15,
        "CSSURL": "${CSS_URL}",
        "CSSSSLCert": "/certs/css.crt",
        "MMSGarbageCollectionInterval": 20
    },
    "ArchSynonyms": {
        "x86_64": "amd64",
        "armhf": "arm",
        "aarch64": "arm64"
    }
}
