{
    "AgreementBot": {
        "DBPath": "/root/.agbot2",
        "GethURL": "",
        "TxLostDelayTolerationSeconds": 240,
        "AgreementWorkers": 5,
        "ProtocolTimeoutS": 60,
        "AgreementTimeoutS": 180,
        "NoDataIntervalS": 900,
        "ActiveAgreementsURL": "",
        "PolicyPath": "/etc/agbot/policy2.d/",
        "NewContractIntervalS": 15,
        "ProcessGovernanceIntervalS": 10,
        "IgnoreContractWithAttribs": "ethereum_account",
        "ExchangeURL": "http://${EXCH_APP_HOST}:8080/v1/",
        "ExchangeId": "ag54321",
        "ExchangeToken":"abcdefg",
        "ExchangeHeartbeat": 60,
        "ExchangeVersionCheckIntervalM":1,
        "DVPrefix": "11071917_",
        "ActiveDeviceTimeoutS": 180
    }
}
