Package: horizon-cli
Version: ${VERSION}${BUILD_NUMBER}
Section: misc
Priority: optional
Architecture: ${arch}
Maintainer: https://github.com/open-horizon
Description: The Horizon CLI
Homepage: https://github.com/open-horizon
