{
  "Edge": {
    "AgreementTimeoutScaleFactor": 3,
    "APIListen": "127.0.0.1:8510",
    "DBPath": "${DB_PATH}",
    "DefaultCPUSet": "",
    "DockerEndpoint": "unix:///var/run/docker.sock",
    "ExchangeHeartbeat": 60,
    "ExchangeMessageTTL": 1800,
    "ExchangeURL": "",
    "ExchangeVersionCheckIntervalM": 720,
    "FileSyncService": {
      "CSSURL": ""
    },
    "GethURL": "http://127.0.0.1:8545",
    "MultipleAnaxInstances": true,
    "NodeMgmtWorkDirectory": "",
    "PolicyPath": "/etc/horizon/policy.d/",
    "ReportDeviceStatus": true,
    "ServiceStorage": "",
    "ServiceUpgradeCheckIntervalS": 300,
    "StaticWebContent": "/usr/horizon/web/",
    "TrustCertUpdatesFromOrg": true,
    "TrustDockerAuthFromOrg": true,
    "TrustSystemCACerts": true
  },
  "ArchSynonyms": {
    "x86_64": "amd64",
    "aarch64": "arm64",
    "armhf": "arm"
  }
}
