{
  "header": {
    "name": "CS gpstest amd64",
    "version": "2.0"
  },
  "useServices": true,
  "workloads": [
    {
      "workloadUrl":"https://bluehorizon.network/services/gpstest",
      "organization":"e2edev",
      "version":"1.0.0",
      "arch":"amd64"
    }
  ],
  "dataVerification": {},
  "properties": [
    {
        "name": "iame2edev",
        "value": true
    }
  ],
  "maxAgreements": 3,
  "nodeHealth": {
      "missing_heartbeat_interval": 240,
      "check_agreement_status": 60
  }
}
