{
    "header": {
        "name": "CS netspeed policy",
        "version": "2.0"
    },
    "useServices": true,
    "agreementProtocols": [
      {
        "name": "Basic"
      }
    ],
    "workloads": [
    {
      "workloadUrl":"https://bluehorizon.network/services/netspeed",
      "organization":"IBM",
      "version":"2.3.0",
      "arch":"amd64",
      "deployment_overrides":"{\"services\":{\"netspeed5\":{\"environment\":[\"E2EDEV_OVERRIDE=1\"]}}}",
      "deployment_overrides_signature":"CoQb1Tw204vbMP0H1Faw7Sp9lHHSiIzvhlX9SEejx2kRY+x6uj7PB4fvJUBoYlWJJOkecQKDD9zdLm6hD32b+f9zMWaBdRF5Ab4pHU5gcDPpuPGnYup1ZreSe4eqPnThkGgfYIW5zcQd/vbxO9tx31EM8lJ5NrhcJ5rwhwbIPDh7Hstxi84IetNAygE1gPaTGQaJzzqATFYINwWkxjJXjihdEVuo5IvINJusHtIs7C6BIVy9+CExUXXxem1I/bzvwzY1wpKuubHxq1CddIKr+BaHAsErHIHvJQVc3JoDPgXPjVE8ew1QKjLCkC86wRbANN6rhCB2Q6+HhyaRfv8oJDz8XoLBcYw6bKerGMCxEBTuyUu0n9mTSCzEZZaaLdmxTzaLN47Svm8Gj18tT5CjvYkeSgDpISwRR0aME8YSHO6OtRKhLFGvZDzR4hu6kzyfp7aiYHRzVDrfcKhch/c0AuAEb6qEQ8nCHnSFJwEXP/3L3qKy8y8OT+42vumXTYOp7IadZ+UnFxLNJip9qnEsXFS8+WlT3PwaNMKFdg+zsJfUz5V+OXaotZKfe9PABn4+656PfngIi+N7q/unnrNSzc/BN8Dgy1FSHqVQ0UfRWST31pStJi2kS46UreIBgG9T6D/WgwnvATN3BaZkveiwDpUXRNv5nGzcWqnIerWWfL8=",
      "priority":{
        "priority_value": 3,
        "retries": 1,
        "retry_durations": 1800,
        "verified_durations": 45
      }
    },
    {
      "workloadUrl":"https://bluehorizon.network/services/netspeed",
      "organization":"IBM",
      "version":"2.3.0",
      "arch":"amd64",
      "deployment_overrides":"{\"services\":{\"netspeed5\":{\"environment\":[\"E2EDEV_OVERRIDE=1\"]}}}",
      "deployment_overrides_signature":"CoQb1Tw204vbMP0H1Faw7Sp9lHHSiIzvhlX9SEejx2kRY+x6uj7PB4fvJUBoYlWJJOkecQKDD9zdLm6hD32b+f9zMWaBdRF5Ab4pHU5gcDPpuPGnYup1ZreSe4eqPnThkGgfYIW5zcQd/vbxO9tx31EM8lJ5NrhcJ5rwhwbIPDh7Hstxi84IetNAygE1gPaTGQaJzzqATFYINwWkxjJXjihdEVuo5IvINJusHtIs7C6BIVy9+CExUXXxem1I/bzvwzY1wpKuubHxq1CddIKr+BaHAsErHIHvJQVc3JoDPgXPjVE8ew1QKjLCkC86wRbANN6rhCB2Q6+HhyaRfv8oJDz8XoLBcYw6bKerGMCxEBTuyUu0n9mTSCzEZZaaLdmxTzaLN47Svm8Gj18tT5CjvYkeSgDpISwRR0aME8YSHO6OtRKhLFGvZDzR4hu6kzyfp7aiYHRzVDrfcKhch/c0AuAEb6qEQ8nCHnSFJwEXP/3L3qKy8y8OT+42vumXTYOp7IadZ+UnFxLNJip9qnEsXFS8+WlT3PwaNMKFdg+zsJfUz5V+OXaotZKfe9PABn4+656PfngIi+N7q/unnrNSzc/BN8Dgy1FSHqVQ0UfRWST31pStJi2kS46UreIBgG9T6D/WgwnvATN3BaZkveiwDpUXRNv5nGzcWqnIerWWfL8=",
      "priority":{
        "priority_value": 2,
        "retries": 1,
        "retry_durations": 3600
      }
    }
    ],
    "resourceLimits": {
        "networkUpload": 1024,
        "networkDownload": 1024,
        "memory": 2048,
        "cpus": 2
    },
    "properties": [
      {
          "name": "iame2edev",
          "value": true
      },
      {
          "name": "fred",
          "value": 11
      }
    ],
    "dataVerification": {},
    "maxAgreements": 2
}
