NodeType CSS
ListeningType unsecure
UnsecureListeningPort 8080
CommunicationProtocol http
LogLevel INFO
LogTraceDestination stdout
TraceLevel INFO
MongoAddressCsv $MONGO_ADDRESS
MongoAuthDbName $MONGO_AUTH
MongoUsername $MONGO_USER
MongoPassword $MONGO_PW
