{
    "header": {
        "name": "find policy3",
        "version": "2.0"
    },
    "apiSpec": [
        {
            "specRef": "http://mycompany.com/policy",
            "version": "[1.0.0,2.0.0)",
            "exclusiveAccess": false
        }
    ],
    "agreementProtocols": [
        {
            "name": "2PartyDataUse"
        }
    ],
    "workloads": [
        {
            "deployment": "Deployment b_2",
            "deployment_signature": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
            "torrent": {
                "url": "torrent://the.system.com",
                "images": [
                    {
                        "file": "a_file.tar.gz",
                        "signature": "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                    }
                ]
            }
        }
    ],
    "deviceType": "12345-54321-abcdef-fedcba",
    "valueExchange": {
        "type": "bacon",
        "value": "100",
        "paymentRate": 300
    },
    "resourceLimits": {
        "networkUpload": 1024,
        "networkDownload": 1024,
        "memory": 2048,
        "cpus": 2
    },
    "dataVerification": {
        "enabled": true,
        "URL": "http://data.receipt.system.com",
        "interval": 300
    },
    "proposalRejection": {
        "number": 5,
        "duration": 86400
    }
}