HZN_EXCHANGE_URL=<SWITCH_EXCHANGE_URL>
HZN_FSS_CSSURL=<SWITCH_FSS_CSSURL>
HZN_AGBOT_URL=<SWITCH_AGBOT_URL>
HZN_ORG_ID=<SWITCH_ORG>
HZN_EXCHANGE_USER_AUTH=<SWITCH_EXCHANGE_USER_AUTH>
HZN_EXCHANGE_PATTERN=IBM/pattern-ibm.helloworld